/**
 * responsive audio/video element
 */

.responsive-video video,
.responsive-video audio {
    width: 100%;
    height: auto;
}

/**
 * responsive youtube/vimeo element
 */

.responsive-video .responsive-container {
    position: relative;
    height: 0;
}

.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive-video.ratio-16-9 .responsive-container {
    padding-bottom: calc(100% / 16 * 9);
}

.responsive-video.ratio-21-9 .responsive-container {
    padding-bottom: calc(100% / 21 * 9);
}

.responsive-video.ratio-3-2 .responsive-container {
    padding-bottom: calc(100% / 3 * 2);
}

.responsive-video.ratio-4-3 .responsive-container {
    padding-bottom: calc(100% / 4 * 3);
}
